body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.farrer.co.uk/globalassets/work-from-home.jpg?width=570&height=321&mode=crop') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.task-input, #searchInput {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, select, button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eaeaea;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high {
  border-left: 4px solid red;
}

.medium{
  border-left: 4px solid rgb(28, 3, 255);
}

.normal{
  border-left: 4px solid rgb(0, 0, 0);
}